
<!DOCTYPE html>
<html>
   <head>
   </head>
   <body>
      <h1>Testruns</h1>
      <ul>
      {{ range .TestRuns }}
         <li>
           <a>{{ .Name }}</td>
        </li>
      {{ end }}
      </ul>
      </table>
   </body>
</html>
