package component

import (
	"fmt"
	"github.com/raphi011/handoff/internal/model"
)

templ SuiteRuns(description string, runs []model.TestSuiteRun) {
	<ul>
		for _, tsr := range runs {
			<li>
				<a href={ templ.URL(fmt.Sprintf("/suites/%s/runs/%d", tsr.SuiteName, tsr.ID)) }>{ tsr.SuiteName } (#{ fmt.Sprintf("%d", tsr.ID) }): { string(tsr.Result) }</a>
			</li>
		}
	</ul>
}
