package component

templ SuiteRuns() {
	<main class="lg:pl-72">
		<header class="flex items-center justify-between border-b border-white/5 px-4 py-4 sm:px-6 sm:py-6 lg:px-8">
			<h1 class="text-base/7 font-semibold text-gray-900">Suite Runs</h1>
		</header>
	</main>
}
