package html

templ body() {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<script src="https://cdn.tailwindcss.com"></script>
		</head>
		<body>
			<h1>Handoff</h1>
			{ children... }
		</body>
	</html>
}

