<!DOCTYPE html>
<html>
   <head>
   </head>
   <body>
      <h1>{{ .SuiteName }}</h1>
      <table>
         <tr>
            <th>Name</th>
            <th>Passed</th>
            <th>Start / End</th>
            <th>Duration</th>
         </tr>
      {{ range .TestResults }}
         <tr>
           <td>{{ .Name }}</td>
           <td>{{ .Passed }}</td>
           <td>{{ .Start.Format "02.01 15:04:05" }} - {{ .End.Format "15:04:05" }}</td>
           <td>{{ .End.Sub .Start }}</td>
         </tr>
      {{ end }}
      </table>
   </body>
</html>
