<!DOCTYPE html>
<html>
   <head>
   </head>
   <body>
      <h1>Testruns</h1>
      <ul>
      {{ range . }}
         <li>
           <a href="/suites/{{ .SuiteName }}/runs/{{ .ID }}">{{ .SuiteName }} (#{{ .ID }}): {{ .Result }}</td>
        </li>
      {{ end }}
      </ul>
      </table>
   </body>
</html>
