package html

import (
	"fmt"
	"github.com/raphi011/handoff/internal/html/component"
	"github.com/raphi011/handoff/internal/model"
)

templ RenderTestRun(tr model.TestRun) {
	@body() {
		<h1>{  tr.Name }</h1>
		<h2>Logs</h2>
		<code>{ tr.Logs }</code>
	}
}

templ RenderSchedules(schedules []model.ScheduledRun) {
	@body() {
		<h2>Scheduled runs</h2>
		<ul>
			for _, s := range schedules {
				<li>{ s.Name }</li>
			}
		</ul>
	}
}

templ RenderTestSuiteRun(tsr model.TestSuiteRun) {
	@body() {
		@component.Heading(tsr.SuiteName)
		<p>Started at { tsr.Start.Format("02.01 15:04:05") }, took { fmt.Sprintf("%d", tsr.DurationInMS) }ms to finish.</p>
		<p>Is flaky: {  fmt.Sprintf("%t", tsr.Flaky) }</p>
		@component.Stats()
		<h2 class="px-4 text-base/7 font-semibold text-white sm:px-6 lg:px-8">Tests</h2>
		@component.TestRunTable(tsr)
	}
}

templ RenderTestSuiteRuns(description string, runs []model.TestSuiteRun) {
	@body() {
		@component.SuiteRuns()
		<h2>Testruns</h2>
		<p>
			@templ.Raw(description)
		</p>
		<ul>
			for _, tsr := range runs {
				<li>
					<a href={ templ.URL(fmt.Sprintf("/suites/%s/runs/%d", tsr.SuiteName, tsr.ID)) }>{ tsr.SuiteName } (#{ fmt.Sprintf("%d", tsr.ID) }): { string(tsr.Result) }</a>
				</li>
			}
		</ul>
	}
}

templ RenderTestSuites(suites []model.TestSuite) {
	@body() {
		@component.TestSuites(suites)
	}
}
