<!DOCTYPE html>
<html>
   <head>
   </head>
   <body>
      <h1>Test suites</h1>
      <ul>
      {{ range . }}
         <li>
           <a href="/suites/{{ .Name }}/runs">{{ .Name }}</td>
        </li>
      {{ end }}
      </ul>
      </table>
   </body>
</html>

